body {
  background: #FAFAFA;
  position: relative;
}

h1 {
  font-family: "Damion", Helvetica,Arial,cursive;
  color: #fed136;
  text-align: center;
  font-size: 6em;
}
  

h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

img {
  border: 0px none;
  vertical-align: middle;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #FAFAFA;
}

.bg-darkest-gray {
  background-color: #222;
}

.bg-darkest-gray h2 {
  color: #fff;
}

.carousel img {
  width:100%;
}

.sidebar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 190px;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  color: black;
  overflow-y: hidden;
  z-index: 10;
}

.sidebar h1 {
  font-size: 3em;
  padding: 15px;
}

.sidebar h1 a {
  color: #fed136;
}

.sidebar a {
  color: #222;
}

.sidebar a:hover {
  text-decoration: none;
}

.sidebar .nav > li > a {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.sidebar .nav > li > a:focus,
.sidebar .nav > li > a:hover,
.sidebar .nav > li.active > a {
  background: #B58B65;
  color: #fff;
}

.sidebar .social-icons {
  display: block;
  padding: 30px 15px;
}

.sidebar .social-icons li {
  display: inline-block;
  margin-right: 20px;
}

.sidebar .social-icons a {
  font-size: 2em;
}

.content, .banner-bg {
  margin-left: 190px;
  padding: 20px 40px;
}

@media(max-width:991px) {

  footer,
  footer .text-right{
    text-align: center;
  }
}

@media(max-width:767px) {
  .content, .banner-bg {
    margin-left: 0;
    padding: 40px;
  }
}

.banner-bg {
  padding: 200px 80px;
  position: relative;
  background: transparent url("../img/header-bg.jpg") no-repeat scroll center center / cover;
  z-index: 2;
}

.section-heading {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
}

.section-subheading {
  margin-bottom: 55px;
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.card {
  background-color: #FFF;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.3);
  margin-bottom: 24px;
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  position: relative;
}

.card-inner, .card-side {
  overflow: hidden;
}

.card-side {
  background-color: #F5F5F5;
  border-radius: 2px 0px 0px 2px;
}

.card-side.card-side-img {
  padding-right: 0px;
  padding-left: 0px;
}

.card-inner {
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  z-index: 1;
}

.card-heading {
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
}

.price {
  background: #B58B65 none repeat scroll 0% 0%;
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  position: absolute;
  right: 0;
  top: 15px;
  width: 160px;
  padding: 10px 20px;
}

@media(max-width:991px) {
  .price {
    position: relative;
    right: inherit;
    top: inherit;
    display: block;
    width: inherit;
  }
}

.card table .no-top-border {
  border-top: none;
}

.promo .btn {
  margin-bottom: 20px;
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 236px;
}

section#contact .form-control:focus {
  border-color: #fed136;
  box-shadow: none;
}

section#contact::-webkit-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact::-moz-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact:-ms-input-placeholder {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  color: #bbb;
}

section#contact .text-danger {
  color: #e74c3c;
}

section#map {
  height: 300px;
}